/* Персонализиран бутон за избор на файл */
input[type="file"] {
    display: none; /* Скриваме стандартния input */
}

/* Стил за персонализиран бутон */
.label-file-input {
    background: linear-gradient(135deg, #6e7dff, #5560ea);
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: auto;
}

/* Ховър ефект за персонализирания бутон */
.label-file-input:hover {
    background: linear-gradient(135deg, #5560ea, #6e7dff);
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стил за иконата вътре в бутона */
.label-file-input i {
    margin-right: 10px;
}



